@model List<Lab.Ejercicio007.MVC.Models.ProductsResponse>
@{
    ViewBag.Title = "Products";
}


<h2 class="text-center">Product List</h2>
<div class="row">
    <div class="col-md-12">
        <input type="button" class="btn btn-success" style="margin-left: 20px;" value="Add New Product" onclick="document.location.href='@Url.Content("~/Products/InsertOrUpdate/")'" />
    </div>
</div>

<br />

<div class="container">
    <table class="table table-bordered table-striped table-responsive">
        <thead>
            <tr>
                <th class="text-center text-bg-dark">Product Name</th>
                <th class="text-center text-bg-dark">Quantity Per Unit</th>
                <th class="text-center text-bg-dark">Unit Price</th>
                <th class="text-center text-bg-dark">Operations</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var oProducto in Model)
            {
                <tr>
                    <td>@oProducto.ProductName</td>
                    <td>@oProducto.QuantityPerUnit</td>
                    <td>@oProducto.UnitPrice</td>
                    <td class="text-center">
                        <input onclick="document.location.href = '@Url.Content("~/Products/InsertOrUpdate/" + @oProducto.ProductID)'" type="button" value="Update" class="btn btn-secondary" />
                        <input onclick="ajaxDeleteRegister(@oProducto.ProductID);" style="margin-left: 20px" type="submit" value="Delete" class="btn btn-danger" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section scripts {
    <script>
    function ajaxDeleteRegister(id) {
        if (confirm("Are you sure to delete this record?, all data associated with it will be deleted.This process cannot be undone.")) {
            url = "@Url.Content("~/Products/Delete/")" + id;

        $.post(url, function (data) {
            if (data == "Product Deleted Successfully") {
                document.location.href="@Url.Content("/Products")"
            }
            else {
                alert("The product cannot be removed, it is part of an order.")
            }
        })
        }
    }
    </script>
}




