@model List<Lab.Ejercicio007.MVC.Models.SuppliersResponse>
@{
    ViewBag.Title = "Supplier";
}
<h2 class="text-center">Supplier List</h2>
<div class="row">
    <div class="col-md-12">
        <input type="button" class="btn btn-success" style="margin-left: 20px;" value="Add New Supplier" onclick="document.location.href='@Url.Content("~/Categories/Insert")'" />
    </div>
</div>

<br />

<div class="container">
    <table class="table table-bordered table-striped table-responsive">
        <thead>
            <tr>
                <th class="text-center">Company Name</th>
                <th class="text-center">Contact Name</th>
                <th class="text-center">Contact Title</th>
                <th class="text-center">Update Supplier</th>
                <th class="text-center">Delete Supplier</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var oSupplier in Model)
            {
                <tr>
                    <td>@oSupplier.CompanyName</td>
                    <td>@oSupplier.ContactName</td>
                    <td>@oSupplier.ContactTitle</td>
                    <td class="text-center">
                        <input onclick="document.location.href = '@Url.Content("~/Suppliers/Update/" + @oSupplier.SupplierID)'" type="button" value="Update" class="btn btn-secondary" />
                    </td>
                    <td class="text-center">
                        <input onclick="document.location.href = '@Url.Content("~/Suppliers/Delete/" + @oSupplier.SupplierID)'" type="button" value="Delete" class="btn btn-danger" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


